/mkdocs/**/*.html linguist-language=Jinja
/src/jekyll/**/*.html linguist-language=Liquid
/blosxom/[0-9]* linguist-language=Perl
/blosxom/20*Markdown linguist-vendored
/src/assets/jsMath/**/*.html linguist-vendored
/src/assets/jsMath/**/*.js linguist-vendored
/src/assets/direct-upload-demo.html linguist-vendored
