/* The infamous flash of invisible text is actually desired in this case as jsMath fonts' encoding differs from font encodings designed for general text. */
@font-face {
  font-family: "jsMath-cmbx10";
  src: local("jsMath-cmbx10"), url("../jsMath/fonts/jsMath-cmbx10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-cmex10";
  src: local("jsMath-cmex10"), url("../jsMath/fonts/jsMath-cmex10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-cmmi10";
  src: local("jsMath-cmmi10"), url("../jsMath/fonts/jsMath-cmmi10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-cmr10";
  src: local("jsMath-cmr10"), url("../jsMath/fonts/jsMath-cmr10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-cmsy10";
  src: local("jsMath-cmsy10"), url("../jsMath/fonts/jsMath-cmsy10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-cmti10";
  src: local("jsMath-cmti10"), url("../jsMath/fonts/jsMath-cmti10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-bbold10";
  src: local("jsMath-bbold10"), url("../jsMath/fonts/jsMath-bbold10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-cmbsy10";
  src: local("jsMath-cmbsy10"), url("../jsMath/fonts/jsMath-cmbsy10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-cmmib10";
  src: local("jsMath-cmmib10"), url("../jsMath/fonts/jsMath-cmmib10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-cmss10";
  src: local("jsMath-cmss10"), url("../jsMath/fonts/jsMath-cmss10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-eufb10";
  src: local("jsMath-eufb10"), url("../jsMath/fonts/jsMath-eufb10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-eufm10";
  src: local("jsMath-eufm10"), url("../jsMath/fonts/jsMath-eufm10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-eurb10";
  src: local("jsMath-eurb10"), url("../jsMath/fonts/jsMath-eurb10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-eurm10";
  src: local("jsMath-eurm10"), url("../jsMath/fonts/jsMath-eurm10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-eusb10";
  src: local("jsMath-eusb10"), url("../jsMath/fonts/jsMath-eusb10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-eusm10";
  src: local("jsMath-eusm10"), url("../jsMath/fonts/jsMath-eusm10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-lasy10";
  src: local("jsMath-lasy10"), url("../jsMath/fonts/jsMath-lasy10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-lasyb10";
  src: local("jsMath-lasyb10"), url("../jsMath/fonts/jsMath-lasyb10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-msam10";
  src: local("jsMath-msam10"), url("../jsMath/fonts/jsMath-msam10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-msbm10";
  src: local("jsMath-msbm10"), url("../jsMath/fonts/jsMath-msbm10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-rsfs10";
  src: local("jsMath-rsfs10"), url("../jsMath/fonts/jsMath-rsfs10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-stmary10";
  src: local("jsMath-stmary10"), url("../jsMath/fonts/jsMath-stmary10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-wasy10";
  src: local("jsMath-wasy10"), url("../jsMath/fonts/jsMath-wasy10.ttf");
  font-display: block;
}

@font-face {
  font-family: "jsMath-wasyb10";
  src: local("jsMath-wasyb10"), url("../jsMath/fonts/jsMath-wasyb10.ttf");
  font-display: block;
}
