.lobby__streams .stream strong,
.timeline .entry a,
.lobby__box__top .title {
	font-family: "Noto Sans";
}
.tabs-horiz span,
.lpools,
.hooks__list th,
.lobby__streams .stream,
.timeline .entry,
.lobby__forum .extract,
.lobby__streams .more,
.timeline .more {
	font-family: "Roboto";
}
.tabs-horiz,
.lobby__counters,
.lobby__streams .stream,
.timeline,
.lobby__about a,
.timeline .entry a {
	color: #999;
}
#hook .opponent,
.lobby__box__top {
	background: linear-gradient(to bottom, #3c3934, #33312e 100%);
}
.tour-spotlight {
	background: linear-gradient(to bottom, #3c3934, #33312e 100%);
}
.tour-spotlight.invert,
.tour-spotlight.event-spotlight,
.tour-spotlight:hover {
	background: linear-gradient(to bottom, #3c3934, #33312e 100%);
}
.lpools .active,
#hook {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.hooks__list td,
.tour-spotlight {
	white-space: nowrap;
	overflow: hidden;
}
.lobby__streams .stream,
.lobby__box td,
.lobby__support__text span {
	white-space: nowrap;
}
.lpools > div {
	overflow-wrap: break-word;
	word-break: break-word;
}
.lobby__streams .stream,
.lobby__box td,
.lobby__support__text span,
.lobby__leaderboard td:first-child,
.lobby__winners td:first-child {
	overflow: hidden;
	text-overflow: ellipsis;
}
.hooks__chart {
	position: absolute;
	width: 100%;
	height: 100%;
}
.tabs-horiz,
.tour-spotlight,
.lobby__support a,
#announce.fff .link {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.lobby__counters,
.lobby__box__top,
.lobby__blog .post {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}
.lpools > div,
#hook .inner,
.lobby__app,
.lobby__table,
.lobby__start,
.lobby__box,
.lobby__side,
.lobby__nope .lobby__app__content {
	display: flex;
	flex-flow: column;
}
.lobby__spotlights,
.lobby__box,
#hook,
.lobby__app__content,
.lobby__support a,
.now-playing > a,
.lpools > div {
	border-radius: 3px;
}
.lobby__spotlights,
.lobby__box,
#hook {
	overflow: hidden;
}
.lobby__app__content,
.lobby__support a,
.lobby__spotlights,
.lobby__box {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.now-playing {
	display: grid;
	--np-min-width: 200px;
	grid-template-columns: repeat(auto-fill, minmax(var(--np-min-width), 1fr));
}
@media (max-width: 499px) {
	.now-playing {
		--np-min-width: 50%;
	}
}
.now-playing > a {
	color: #bababa;
	padding: 0.3em;
	transition: background 150ms;
	background: rgba(38, 36, 33, 0.4);
}
.now-playing > a:hover {
	background: rgba(54, 146, 231, 0.4);
	color: #ccc;
}
.now-playing .meta {
	display: block;
	text-align: center;
	overflow: hidden;
}
.now-playing .indicator {
	color: #d64f00;
	margin-top: -3px;
	display: block;
}
.now-playing cg-board {
	box-shadow: none;
}
.color-icon.white::before {
	content: "J";
}
.color-icon.black::before {
	content: "K";
}
.color-icon.random::before {
	content: "l";
}
@-webkit-keyframes glowing {
	42% {
		background: none;
	}
	50% {
		background: #293a49;
	}
	58% {
		background: none;
	}
}
@keyframes glowing {
	42% {
		background: none;
	}
	50% {
		background: #293a49;
	}
	58% {
		background: none;
	}
}
.glowing {
	-webkit-animation: glowing 2s ease-in-out infinite;
	animation: glowing 2s ease-in-out infinite;
}
.tabs-horiz {
	justify-content: center;
	align-items: flex-end;
	border-bottom: 2px solid #404040;
}
@media (max-width: 499px) {
	.tabs-horiz {
		font-size: 0.9em;
	}
}
.tabs-horiz span {
	flex: 1 1 auto;
	text-align: center;
	padding: 0.5em 0.2em;
	cursor: pointer;
	position: relative;
	transition: color 0.25s;
	min-width: 15%;
	letter-spacing: -0.5px;
}
@media (min-width: 500px) {
	.tabs-horiz span {
		letter-spacing: inherit;
	}
}
.tabs-horiz span::after {
	content: "";
	background: rgba(214, 79, 0, 0.7);
	height: 2px;
	position: absolute;
	width: 96%;
	left: 2%;
	bottom: -2px;
	transition: all 0.25s;
	transform: scale(0);
}
.tabs-horiz span.active::after,
.tabs-horiz span:hover::after {
	transform: scale(1);
}
.tabs-horiz span.active {
	color: #d64f00;
}
.tabs-horiz .unread {
	margin-left: 0.3em;
}
body ::-webkit-scrollbar,
body ::-webkit-scrollbar-corner {
	width: 0.5rem;
	background: #262421;
}
body ::-webkit-scrollbar-thumb {
	background: #4d4d4d;
}
body ::-webkit-scrollbar-thumb:hover,
body ::-webkit-scrollbar-thumb:active {
	background: #6b6b6b;
}
.lobby {
	grid-area: main;
	display: grid;
	grid-template-areas: "app" "table" "side" "blog" "tv" "puzzle" "leader" "winner" "tours" "simuls" "forum" "support" "about" ".";
	grid-gap: 2vmin;
}
.lobby__counters {
	margin-top: 2vmin;
}
@media (min-width: 500px) {
	.lobby {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto repeat(3, fit-content(0));
		grid-template-areas: "table  table" "app    app" "side   tv" "side   puzzle" "blog   blog" "leader winner" "tours  tours" "simuls simuls" "forum  forum" "about  support";
	}
}
@media (min-width: 800px) {
	.lobby {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 12em repeat(2, fit-content(0));
		grid-template-areas: "table   app     app" "side    app     app" "tv      leader  winner" "puzzle  tours   tours" "support blog    blog " "about   simuls  simuls" ". forum forum ";
	}
	.lobby__start {
		flex-flow: column;
		align-items: stretch;
		justify-content: center;
	}
	.lobby__counters {
		margin: 0.66667vmin 0 -0.66667vmin 0;
	}
	.lobby .timeline {
		margin-left: 0;
	}
}
@media (min-width: 1260px) {
	.lobby {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, fit-content(0));
		grid-template-areas: "side   app     app    table" "tv     leader  winner puzzle" "about  blog    blog   support" ".      tours   tours  ." ".      simuls  simuls ." ".      forum   forum  .";
	}
	.lobby__tournaments,
	.lobby__simuls {
		max-height: 20em;
	}
	.lobby__side {
		margin-top: 2em;
	}
	.lobby__counters {
		margin: 0;
	}
}
.lobby__side {
	grid-area: side;
}
.lobby__app,
.lobby__nope {
	grid-area: app;
}
.lobby__table {
	grid-area: table;
}
.lobby__tv {
	grid-area: tv;
}
.lobby__leaderboard {
	grid-area: leader;
}
.lobby__winners {
	grid-area: winner;
}
.lobby__puzzle {
	grid-area: puzzle;
}
.lobby__tournaments {
	grid-area: tours;
}
.lobby__simuls {
	grid-area: simuls;
}
.lobby__forum {
	grid-area: forum;
}
.lobby__blog {
	grid-area: blog;
}
.lobby__support {
	grid-area: support;
}
.lobby__about {
	grid-area: about;
}
.lobby__app-pools {
	height: 300px;
}
@media (min-width: 500px) {
	.lobby__app-pools {
		height: 400px;
	}
}
.lpools {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 9px;
	padding: 9px;
}
.lpools {
	font-size: 14px;
}
@media (min-width: 320px) {
	.lpools {
		font-size: calc(14px + 11 * ((100vw - 320px) / 880));
	}
}
@media (min-width: 1200px) {
	.lpools {
		font-size: 25px;
	}
}
.lpools > div {
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #404040;
	background: rgba(186, 186, 186, 0.05);
	color: #bababa;
	transition: all 150ms;
}
.lpools > div:hover {
	background: rgba(214, 79, 0, 0.2);
	opacity: 1;
}
.lpools .active {
	background: #3c3934;
}
.lpools .active .perf {
	display: none;
}
.lpools .transp {
	opacity: 0.4;
}
.lpools .spinner {
	flex: 0 0 auto;
	margin: 0.1em 0 0.6em 0;
	width: 2em;
	height: 2em;
	pointer-events: none;
}
.lpools .clock {
	display: block;
	font-size: 1.5em;
	line-height: 1.6em;
	letter-spacing: 0.1em;
}
.hooks__chart {
	bottom: 0;
	right: 0;
	overflow: hidden;
}
.hooks__chart .label {
	color: #999;
	font-size: 0.7em;
	position: absolute;
	left: 3px;
	bottom: 1px;
	text-shadow: none;
	font-weight: bold;
}
.hooks__chart .grid {
	position: absolute;
	left: 0;
	bottom: 0;
}
.hooks__chart .grid.horiz {
	width: 100%;
	border-top: 1px dashed #404040;
}
.hooks__chart .grid.vert {
	height: 100%;
	border-right: 1px dashed #404040;
}
.hooks__chart .canvas {
	position: relative;
	width: 100%;
	height: 100%;
}
.hooks__chart .plot {
	position: absolute;
	cursor: pointer;
	z-index: 3;
	font-size: 1.6em;
	opacity: 0.7;
	transition: all 150ms;
	transform: scale(1);
}
.hooks__chart .plot.rated {
	opacity: 0.9;
	color: #bf811d;
}
.hooks__chart .plot.cancel {
	opacity: 0.9;
	color: #629924;
}
.hooks__chart .plot.new {
	transform: translateY(-7px);
	opacity: 0;
}
.hooks__chart .plot:hover {
	z-index: 2;
	opacity: 1;
	transform: scale(1.15);
}
#hook {
	display: none;
	background: #262421;
	position: absolute;
	z-index: 120;
}
#hook .inner {
	text-align: center;
}
#hook .inner-clickable {
	cursor: pointer;
	padding: 5px 0;
}
#hook .opponent {
	min-width: 120px;
	padding: 0.5em 0.7em;
}
.hooks__list {
	width: 100%;
}
.hooks__list tr.disabled {
	opacity: 0.4;
}
.hooks__list tr.disabled td {
	cursor: default;
	background: transparent;
	border-color: transparent;
}
.hooks__list tr.cancel td {
	background: rgba(98, 153, 36, 0.4);
}
.hooks__list tr.join:hover td {
	background: rgba(214, 79, 0, 0.5);
	color: #fff;
}
.hooks__list tr:not(.disabled):hover ::before {
	opacity: 1;
}
.hooks__list tr.variants td {
	text-align: center;
	padding: 3px 0;
	background: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: default;
}
.hooks__list th {
	padding: 1em;
}
.hooks__list th.sortable {
	cursor: pointer;
}
.hooks__list th.sortable:hover,
.hooks__list th.sort {
	font-weight: normal;
}
.hooks__list th.sort .is:before {
	opacity: 0.7;
	margin-right: 3px;
	content: "R";
}
.hooks__list th.player {
	width: 110px;
}
.hooks__list td {
	padding: 0.5em 0.7em;
	border-bottom: 1px solid #404040;
	cursor: pointer;
	background: rgba(38, 36, 33, 0.5);
}
.hooks__list td:first-child {
	width: 16px;
}
.hooks__list td:first-child ::before {
	font-size: 1.2em;
	line-height: 1.3;
}
.hooks__list td:last-child ::before {
	margin-right: 8px;
	line-height: 0.9;
	font-size: 1.6em;
}
.hooks__list td ::before {
	opacity: 0.6;
}
.hooks__list tbody.stepping {
	opacity: 0.7;
}
.lseeks .create {
	margin-top: 20px;
	text-align: center;
}
.lobby__app {
	min-height: 300px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@media (min-width: 500px) {
	.lobby__app {
		min-height: 400px;
	}
}
@media (min-width: 800px) {
	.lobby__app {
		height: 600px;
		max-height: calc(
			100vh - calc(var(--site-header-height) + var(--site-header-margin)) -
				2vmin
		);
	}
}
.lobby-nope .lobby__app {
	display: none;
}
.lobby__app__content {
	flex: 1 1 100%;
	position: relative;
	background: #262421
		url("data:image/svg+xml,%3Csvg viewBox='-2 -2 54 54' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23383633' stroke='%23383633' stroke-linejoin='round'%0Ad='M38.956.5c-3.53.418-6.452.902-9.286 2.984C5.534 1.786-.692 18.533.68 29.364 3.493 50.214 31.918 55.785 41.329 41.7c-7.444 7.696-19.276 8.752-28.323 3.084C3.959 39.116-.506 27.392 4.683 17.567 9.873 7.742 18.996 4.535 29.03 6.405c2.43-1.418 5.225-3.22 7.655-3.187l-1.694 4.86 12.752 21.37c-.439 5.654-5.459 6.112-5.459 6.112-.574-1.47-1.634-2.942-4.842-6.036-3.207-3.094-17.465-10.177-15.788-16.207-2.001 6.967 10.311 14.152 14.04 17.663 3.73 3.51 5.426 6.04 5.795 6.756 0 0 9.392-2.504 7.838-8.927L37.4 7.171z'/%3E%3C/svg%3E%0A");
	background-size: 100% 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.lobby__app .lredir {
	background: #262421;
	display: flex;
}
.lobby__app .lredir .spinner {
	width: 100px;
	height: 100px;
}
.lobby__app .toggle {
	position: absolute;
	padding: 0.6em;
	cursor: pointer;
	z-index: 2;
	font-size: 1.3em;
	transition: all 150ms;
}
.lobby__app .toggle.toggle-filter {
	right: 0;
}
.lobby__app .toggle:hover {
	color: #d64f00;
}
.lobby__app .gamesFiltered {
	color: #d64f00;
	transition: all 150ms;
}
.lobby__app .gamesFiltered:hover {
	color: #dd6d2b;
}
.lobby__puzzle .vstext {
	display: block;
	text-align: center;
}
.lobby__table {
	position: relative;
}
.lobby__start {
	justify-content: stretch;
	flex: 1 1 auto;
	margin: 0 1em 0 1em;
}
@media (min-width: 500px) {
	.lobby__start {
		margin: 2em 0 0 0;
	}
}
.lobby__start a {
	font-size: 1.1em;
	text-align: center;
	margin: 0.2em 0;
	padding: 0.5em;
}
.lobby__start a.disabled {
	opacity: 0.2;
}
@media (min-width: 1260px) {
	.lobby__start {
		justify-content: center;
	}
	.lobby__start a {
		margin: 1.2em 0;
		padding: 1em;
	}
}
.lobby__counters {
	background: #302e2c;
	padding: 2vmin 4vmin;
}
@media (min-width: 800px) {
	.lobby__counters {
		background: none;
		padding: 0;
	}
}
@media (min-width: 1260px) {
	.lobby__counters {
		flex-flow: column;
		align-items: flex-start;
		position: absolute;
		bottom: 0;
	}
}
.lobby__counters a {
	color: #999;
	transition: color 150ms;
}
.lobby__counters a:hover {
	color: #3692e7;
}
.lobby__streams .stream {
	color: #999;
	display: block;
	margin-bottom: 0.5em;
	line-height: 0.9;
}
.lobby__streams .stream.highlight strong {
	color: #bf811d;
}
.lobby__streams .stream strong:before {
	font-size: 1.5em;
	margin-right: 0.1rem;
}
.lobby__spotlights {
	flex: 0 0 auto;
}
.tour-spotlight {
	flex: 0 0 auto;
	padding: 0.3em;
	opacity: 0.8;
	transition: all 150ms;
	text-shadow: none;
	color: #bababa;
}
.tour-spotlight.invert,
.tour-spotlight.event-spotlight,
.tour-spotlight:hover {
	text-shadow: none;
}
.tour-spotlight:hover {
	opacity: 1;
}
.tour-spotlight .img {
	flex: 0 0 50px;
	margin: 0 0.5em 0 0.3em;
}
.tour-spotlight img.img {
	width: 40px;
}
.tour-spotlight i.img,
.tour-spotlight .img.icon {
	margin: 0 5px 0 0;
}
.tour-spotlight i.img::before {
	color: #fff;
	font-size: 50px;
}
.tour-spotlight .name {
	margin-top: 1px;
	line-height: 13px;
	display: block;
}
.tour-spotlight .headline {
	display: block;
	font-size: 0.85em;
	margin-bottom: -3px;
}
.tour-spotlight .more {
	font-size: 0.85em;
}
.tour-spotlight .more time {
	margin-left: 3px;
}
.tour-spotlight.little .img {
	flex: 0 0 40px;
	margin: 0 0.5em 0 0.3em;
}
.tour-spotlight.little .img::before {
	font-size: 40px;
}
.timeline {
	flex: 1 1 auto;
	margin: 1em 0 0 2vmin;
	overflow-y: auto;
}
@media (hover: hover) {
	.timeline {
		overflow: hidden;
	}
	.timeline:hover {
		overflow-y: auto;
	}
}
.timeline .entry:hover a {
	color: #3692e7;
}
.timeline .entry::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: linear-gradient(to left, #404040 20%, #161512);
	margin: 0.7em 0;
}
.lobby__box__top {
	flex: 0 0 auto;
	padding: 0.3em 0.5em;
}
.lobby__box__top .more {
	color: #999;
	transition: all 150ms;
}
.lobby__box__top .more:hover {
	color: #3692e7;
}
.lobby__box__top .title {
	font-size: 1em;
	font-weight: bold;
	color: #999;
	padding: 0.3em;
}
.lobby__box__content {
	background: #262421;
	overflow-x: hidden;
	overflow-y: auto;
}
.lobby__box .user-link {
	padding-left: -1em;
	font-weight: bold;
	color: #999;
}
.lobby__box table {
	width: 100%;
	height: 100%;
}
.lobby__box td {
	padding: 0.5em 0.4em;
	border-top: 1px solid #404040;
	max-width: 21ch;
}
.lobby__box td:first-child {
	padding-left: 0.7em;
}
.lobby__box td.name a {
	font-weight: bold;
	color: #999;
	transition: all 150ms;
}
.lobby__box td.name a:hover {
	color: #3692e7;
}
.lobby__box tr:nth-child(even) {
	background: #302e2c;
}
.lobby__leaderboard td:last-child,
.lobby__winners td:last-child {
	text-align: right;
	padding-right: 0.7em;
}
.lobby__forum .lobby__box__top,
.lobby__blog .lobby__box__top {
	border-bottom: 1px solid #404040;
}
.lobby__forum li {
	margin: 0.6em 0;
	padding-left: 9px;
	line-height: 14px;
	white-space: nowrap;
}
.lobby__blog .post {
	color: #bababa;
	flex-wrap: nowrap;
	overflow: hidden;
	padding: 0.2em 0.5em;
}
.lobby__blog .post:hover {
	background: #29353f;
}
.lobby__blog .post .text {
	flex: 1 1 100%;
}
.lobby__blog .post strong {
	display: block;
}
.lobby__blog .post img {
	height: 4em;
	width: 4em;
	margin-right: 0.8em;
}
.lobby__blog .post time {
	color: #999;
	white-space: nowrap;
}
.lobby__support a {
	background: #262421;
	font-size: 1.3em;
	margin-bottom: 2vmin;
	padding: 0.2em 0.5em;
	transition: all 150ms;
}
.lobby__support a:hover {
	background: #bf811d;
}
.lobby__support a:hover .lobby__support__text,
.lobby__support a:hover i::before {
	color: #fff;
}
.lobby__support i {
	flex: 0 0 auto;
	margin: 0 0.5em;
}
.lobby__support i::before {
	margin-right: 0.15em;
	color: #bf811d;
	font-size: 2.6em;
	transition: all 150ms;
}
.lobby__support__text {
	flex: 1 1 auto;
	color: #bf811d;
	transition: all 150ms;
}
.lobby__support__text strong {
	font-weight: normal;
	display: block;
}
.lobby__support__text span {
	display: block;
	font-size: 0.8em;
}
.lobby__about {
	display: flex;
	align-content: flex-start;
	flex-flow: row wrap;
	font-size: 0.85em;
	font-weight: bold;
}
.lobby__about a {
	margin-right: 1.2em;
	white-space: nowrap;
	transition: color 150ms;
}
.lobby__about a:hover {
	color: #3692e7;
}
.connect-links {
	flex: 0 0 100%;
	margin-top: 0.5em;
}
.connect-links a {
	font-weight: normal;
}
body {
	overflow-y: scroll;
}
#main-wrap {
	--main-max-width: 1400px;
}
.lobby__streams .more,
.timeline .more {
	font-size: 0.9em;
	margin: 0.5em 1em 0.5em 0;
	display: block;
	text-align: right;
	color: #999;
}
.lobby__streams .more:hover,
.timeline .more:hover {
	color: #3692e7;
}
.lobby__side {
	overflow: hidden;
}
.lobby__nope {
	min-height: 300px;
	text-align: center;
}
@media (min-width: 500px) {
	.lobby__nope {
		min-height: 400px;
	}
}
@media (min-width: 800px) {
	.lobby__nope {
		height: 600px;
		max-height: calc(
			100vh - calc(var(--site-header-height) + var(--site-header-margin)) -
				2vmin
		);
	}
}
.lobby__nope .lobby__app__content {
	height: 100%;
	align-items: center;
	padding-top: 2em;
}
.lobby__nope ul {
	margin: 0.6em auto;
	display: inline-block;
	text-align: left;
}
.lobby__nope li {
	list-style: disc outside;
	font-size: 1.1em;
}
.game-setup {
	display: none;
}
.about-side {
	margin-top: 2vmin;
}
@media (max-width: 799px) {
	.about-side,
	.lobby__streams,
	.lobby__about {
		margin-left: 2vmin;
	}
}
#announce.fff {
	background: #629924;
}
#announce.fff .link img {
	width: 50px;
	height: 50px;
	margin: -25px 1rem -5px 0;
}
#announce.fff .close {
	font-weight: bold;
	margin-left: 2rem;
}
@media (max-width: 799px) {
	#announce.fff {
		font-size: 1.1em;
	}
}

group.radio label {
	background: linear-gradient(to bottom, #3c3934, #33312e 100%);
}
group.radio label:hover {
	background: linear-gradient(to bottom, #44413b, #3b3935 100%);
	color: #ccc;
}
group.radio input:checked + label {
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15) inset;
}
group.radio input:checked + label {
	background: #d64f00;
	color: #fff;
	text-shadow: 0 1px 1px black !important;
}
#modal-wrap {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.hook__filters .regular-checkbox {
	-webkit-appearance: none;
	background: #161512;
	border: 1px solid #3c3934;
	display: inline-block;
	padding: 0.5em;
}
.hook__filters .regular-checkbox:checked {
	background: #3b5c16;
	border-color: #4f7a1d;
}
.hook__filters .checkable {
	white-space: nowrap;
}
.hook__filters .checkable {
	overflow: hidden;
	text-overflow: ellipsis;
}
#modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 109;
}
group.radio {
	display: flex;
	flex-flow: row wrap;
}
group.radio label,
#modal-overlay,
.game-setup .label_select {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.game-setup .fen_position .fen_form {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
#modal-wrap {
	display: flex;
	flex-flow: column;
}
.hook__filters .regular-checkbox,
group.radio,
.ui-widget-header,
.ui-widget-content,
#modal-wrap {
	border-radius: 3px;
}
group.radio,
#modal-wrap .close:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ui-slider {
	background: #5c8d24;
	position: relative;
	text-align: left;
	cursor: pointer;
}
.ui-widget-header {
	width: 12px;
	bottom: 0;
	background: #5c8d24;
}
.ui-widget-content {
	background: #1c2a0b;
}
.ui-slider-handle {
	background: #5c8d24;
	position: absolute;
	z-index: 2;
	width: 23px;
	height: 23px;
	cursor: pointer;
	margin: 0 0 -10px -5.5px;
	border-radius: 50%;
}
.ui-slider-handle:hover,
.ui-slider-handle:active,
.ui-slider-handle:focus {
	box-shadow: 0 0 0 9px rgba(92, 141, 36, 0.15);
	outline: 0;
}
.ui-slider .ui-slider-range {
	position: absolute;
	font-size: 0.7em;
	display: block;
	border: 0;
	background-position: 0 0;
}
.ui-slider-horizontal {
	height: 12px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -5.5px;
	margin-left: -9px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
group.radio {
	overflow: hidden;
}
group.radio div {
	flex: 1 1 auto;
	position: relative;
}
group.radio input {
	position: absolute;
	left: -99999px;
}
group.radio label {
	justify-content: center;
	padding: 10px;
	height: 100%;
	cursor: pointer;
	border-right: 1px solid #404040;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
group.radio div:last-child label {
	border-right: 0;
}
#modal-overlay {
	justify-content: center;
}
#modal-wrap {
	background: #262421;
	position: relative;
	padding: 2rem;
	text-align: center;
	max-width: 100vw;
	max-height: 96vh;
}
#modal-wrap > div {
	overflow: auto;
}
#modal-wrap .close {
	color: #bababa;
	position: absolute;
	font-size: 16px;
	line-height: 27px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	top: 0;
	right: 0;
	background: none;
}
@media (min-width: 800px) {
	#modal-wrap .close {
		top: -12px;
		right: -12px;
		background: #3c3934;
		border-radius: 50%;
	}
}
#modal-wrap .close:hover {
	background: #c33;
	color: #fff;
}
.game-setup {
	display: block;
	text-align: center;
}
.game-setup #modal-wrap {
	width: 30em;
	padding: 0;
}
.game-setup h2 {
	margin: 1.5rem 0;
}
.game-setup form > div {
	padding: 0.5em 1em;
}
.game-setup group.radio {
	margin: 0 auto 1em auto;
	width: 70%;
}
.game-setup group.radio .disabled {
	opacity: 0.4;
	cursor: default;
}
.game-setup group.radio input:checked + label {
	background: #629924;
}
.game-setup .optional_config {
	border-bottom: 1px solid #404040;
}
.game-setup .mode_choice {
	margin-top: 1em;
}
.game-setup .optional_config,
.game-setup .ratings {
	background: #302e2c;
	border-top: 1px solid #404040;
}
.game-setup .label_select {
	text-align: left;
}
.game-setup .label_select.variant {
	margin-bottom: 0.5em;
}
.game-setup .label_select label {
	flex: 0 0 33%;
	text-align: right;
}
.game-setup .label_select select {
	margin-left: 0.8em;
	font-weight: bold;
}
.game-setup .fen_position {
	display: none;
}
.game-setup .fen_position .board_editor {
	display: block;
	width: 50%;
	margin: 0.5em auto 0 auto;
}
.game-setup .fen_position .fen_form input {
	flex: 1 1 100%;
}
.game-setup input#fen.success {
	border-color: #629924;
}
.game-setup input#fen.failure {
	border-color: #c33;
}
.game-setup .ui-slider {
	margin: 0.5em 1em;
}
.game-setup .slider {
	padding-top: 5px;
	text-align: left;
}
.game-setup .slider span {
	font-weight: bold;
}
.game-setup .ratings {
	padding: 1em;
	width: 100%;
	text-align: center;
}
.game-setup .ratings div {
	display: none;
}
.game-setup .color-submits {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: 1em auto;
	text-align: center;
}
.game-setup .color-submits__button {
	margin: 0 0.5em;
	width: 64px;
	height: 64px;
	padding: 7px;
}
.game-setup .color-submits__button i {
	display: block;
	padding: 0;
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
}
.game-setup .color-submits__button.white i {
	background-image: url("../images/../piece/cburnett/wK.svg");
}
.game-setup .color-submits__button.black i {
	background-image: url("../images/../piece/cburnett/bK.svg");
}
.game-setup .color-submits__button.random {
	width: 85px;
	height: 85px;
	padding: 10px;
}
.game-setup .color-submits__button.random i {
	background-image: url("../images/wbK.svg");
	background-size: 65px 65px;
	width: 65px;
	height: 65px;
}
.game-setup .color-submits__button.nope {
	visibility: hidden;
}
.game-setup .color-submits__button:disabled {
	opacity: 0.3;
}
.game-setup .color-submits .spinner {
	width: 85px;
	height: 85px;
	margin: 10px auto 20px auto;
}
.hook__filters {
	padding: 2vmin 1.5em;
	background: rgba(38, 36, 33, 0.5);
	height: 100%;
	white-space: nowrap;
}
.hook__filters td {
	padding: 1em 0;
}
.hook__filters td:first-child {
	font-size: 1.1em;
	padding-right: 2rem;
	width: 25%;
	white-space: normal;
}
.hook__filters .checkable {
	padding: 4.3px 0;
}
.hook__filters .checkable label,
.hook__filters .checkable input {
	vertical-align: middle;
	cursor: pointer;
}
.hook__filters tr.variant td:last-child {
	display: flex;
	flex-flow: row wrap;
}
.hook__filters tr.variant .checkable {
	width: 33.3%;
}
.hook__filters tr.inline .checkable {
	display: inline-block;
	padding: 4.3px 20px 4.3px 0;
}
.hook__filters input {
	margin-right: 0.3em;
}
.hook__filters .range {
	display: block;
	text-align: center;
	margin-bottom: 1em;
}
.hook__filters .actions {
	margin-top: 1.5em;
	text-align: right;
}
.hook__filters .actions button {
	margin-left: 0.3em;
}
