.lobby__streams .stream {
	font-family: "Roboto";
}
.lobby__streams .stream {
	color: #999;
}
.lobby__streams .stream {
	white-space: nowrap;
}
.lobby__streams .stream {
	overflow: hidden;
	text-overflow: ellipsis;
}

body ::-webkit-scrollbar,
body ::-webkit-scrollbar-corner {
	width: 0.5rem;
	background: #262421;
}
body ::-webkit-scrollbar-thumb {
	background: #4d4d4d;
}
body ::-webkit-scrollbar-thumb:hover,
body ::-webkit-scrollbar-thumb:active {
	background: #6b6b6b;
}
.lobby__streams .stream {
	color: #999;
	display: block;
	margin-bottom: 0.5em;
	line-height: 0.9;
}
.lobby__streams .stream.highlight {
	color: #bf811d;
	background: none;
}
.lobby__streams .stream strong:before {
	font-size: 1.5em;
	margin-right: 0.1rem;
}
.lobby__streams .more {
	font-size: 0.9em;
	margin: 0.5em 1em 0.5em 0;
	display: block;
	text-align: right;
	color: #999;
}
.lobby__streams .more:hover {
	color: #3692e7;
}
@media (max-width: 799px) {
	.lobby__streams {
		margin-left: 2vmin;
	}
}
