body {
	background-color: #121414;
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
	color: #8e9886;
	font-size: 2em;
	border-bottom: 1px solid #222628;
}

a:link,
a:visited {
	color: #3981bd;
}

p,
li {
	color: #9b9892;
}

div {
	color: #9b9895;
}
