@use "sass:string";
@namespace url("http://www.w3.org/1998/Math/MathML");

@supports not (math-depth: add(2)) {
  math {
    @extend mrow;
    text-indent: 0;
    letter-spacing: normal;
    word-spacing: normal;
    font-weight: normal;
    font-style: normal;
    --math-style: compact;
  }

  math[display="block" i] {
    display: flex;
    justify-content: center;
    --math-style: normal;
  }

  [displaystyle] {
    --math-style: normal;
  }

  [displaystyle="false"] {
    --math-style: compact;
  }

  @each $color in aqua,
  black,
  blue,
  fuchsia,
  gray,
  green,
  lime,
  maroon,
  navy,
  olive,
  purple,
  red,
  silver,
  teal,
  white,
  yellow {
    [mathcolor=#{string.quote("" + $color)}] {
      color: $color;
    }

    [mathbackground=#{string.quote("" + $color)}] {
      background-color: $color;
    }
  }

  [mathvariant="normal"],
  [mathvariant="monospace"] {
    font-style: normal;
  }

  [mathvariant*="bold"] {
    font-weight: bold;
    font-style: normal;
  }

  [mathvariant$="italic"] {
    font-style: italic;
  }

  mo {
    margin: 0 .25em;
  }

  mo+mo,
  mo:empty {
    margin: 0;
  }

  mo:not([stretchy="false"]) {
    %stretchy {
      margin: 0;
      width: .5em;
      align-self: stretch;
      text-indent: -9999px;
    }

    &[data-content="("] {
      @extend %stretchy;
      margin: 0 -.12em 0 .08em;
      border-radius: 100% 0 0 100% / 50% 0 0 50%;
      border: .05em solid transparent;
      border-left: .125em solid currentcolor;
      border-right-style: none;
    }

    &[data-content=")"] {
      @extend %stretchy;
      margin: 0 .08em 0 -.12em;
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      border: .05em solid transparent;
      border-left-style: none;
      border-right: .125em solid currentcolor;
    }

    &[data-content="["] {
      @extend %stretchy;
      width: .3em;
      margin-left: .1em;
      border: .08em solid currentcolor;
      border-right-style: none;
    }

    &[data-content="]"] {
      @extend %stretchy;
      width: .3em;
      margin-right: .1em;
      border: .08em solid currentcolor;
      border-left-style: none;
    }

    &[data-content="{"],
    &[data-content="}"] {
      @extend %stretchy;
      position: relative;
      border: .08em solid currentcolor;

      &::before,
      &::after {
        content: "";
        position: absolute;
        border: solid currentcolor;
      }
    }

    &[data-content="{"] {
      @extend %stretchy;
      margin-left: .08em;
      border-radius: 100% 0 0 100% / .5em 0 0 .5em;
      border-left: .1em solid transparent;
      border-right-style: none;

      &::before {
        inset: .05em 50% 50% -.1em;
        border-bottom-right-radius: 100% .25em;
        border-width: 0 .125em .04em 0;
      }

      &::after {
        inset: 50% 50% .05em -.1em;
        border-top-right-radius: 100% .25em;
        border-width: .04em .125em 0 0;
      }
    }

    &[data-content="}"] {
      @extend %stretchy;
      margin-right: .08em;
      border-radius: 0 100% 100% 0 / 0 .5em .5em 0;
      border-left-style: none;
      border-right: .1em solid transparent;

      &::before {
        inset: .05em -.1em 50% 50%;
        border-bottom-left-radius: 100% .25em;
        border-width: 0 0 .04em .125em;
      }

      &::after {
        inset: 50% -.1em .05em 50%;
        border-top-left-radius: 100% .25em;
        border-width: .04em 0 0 .125em;
      }
    }


    &[data-content="|"] {
      @extend %stretchy;
      margin: .18em;
      width: .08em;
      background-color: currentcolor;
    }
  }

  mrow,
  mstyle {
    display: inline-flex;
    align-items: baseline;
  }

  mfrac {
    display: inline-flex;
    flex-direction: column;
    margin: 0 .2em;

    &>* {
      padding: 0 1px;
    }

    &:not([linethickness="0"]) {
      &>:first-child {
        box-shadow: 0 .04em currentcolor;
      }

      &>:last-child {
        box-shadow: 0 -.04em currentcolor;
      }
    }
  }

  msqrt::before,
  mroot::before {
    content: "\221a";
  }

  merror {
    border: 1px solid red;
  }

  mpadded {}

  mphantom {
    visibility: hidden;
  }

  msub {}

  msup {}

  msubsup {}

  munder {}

  mover {}

  munderover {}

  mmultiscripts {}

  mmultiscripts>* {}

  mmultiscripts>mprescripts~* {}

  mtable {
    display: inline-table;
    --math-style: compact;
  }

  mtr {
    display: table-row;
  }

  mtd {
    display: table-cell;
    text-align: center;
    padding: 0.5ex 0.4em;
  }
}
