@namespace url("http://www.w3.org/1998/Math/MathML");

math {
  display: inline-flex;
  align-items: baseline;
  text-indent: 0;
  letter-spacing: normal;
  word-spacing: normal;
  font-weight: normal;
  font-style: normal;
  --math-style: compact;
}

math[display="block" i] {
  display: flex;
  justify-content: center;
  --math-style: normal;
}

[displaystyle] {
  --math-style: normal;
}

[displaystyle="false"] {
  --math-style: compact;
}

[mathcolor="green"] {
  color: green;
}

[mathcolor="black"] {
  color: black;
}

[mathcolor="red"] {
  color: red;
}

[mathcolor="blue"] {
  color: blue;
}

[mathcolor="olive"] {
   color: olive;
}

[mathcolor="purple"] {
   color: purple;
}

[mathcolor="teal"] {
   color: teal;
}

[mathcolor="aqua"] {
   color: aqua;
}

[mathcolor="gray"] {
   color: gray;
}

[mathbackground="blue"] {
   background-color: blue;
}

[mathbackground="green"] {
   background-color: green;
}

[mathbackground="white"] {
   background-color: white;
}

[mathbackground="yellow"] {
   background-color: yellow;
}

[mathbackground="aqua"] {
   background-color: aqua;
}

[mathvariant="normal"],
[mathvariant="monospace"] {
  font-style: normal;
}

[mathvariant="bold"],
[mathvariant="bold-italic"],
[mathvariant="bold-sans-serif"],
[mathvariant="sans-serif-bold-italic"] {
  font-weight: bold;
  font-style: normal;
}

[mathvariant="italic"],
[mathvariant="bold-italic"],
[mathvariant="sans-serif-italic"],
[mathvariant="sans-serif-bold-italic"] {
  font-style: italic;
}

mo {
  margin: 0 .25em;
}

mo+mo,
mo:empty {
  margin: 0;
}

mo[data-content="("],
mo[data-content=")"],
mo[data-content="["],
mo[data-content="]"],
mo[data-content="{"],
mo[data-content="}"] {
  margin: 0;
  width: .5em;
  text-indent: -9999px;
}

mo[data-content="("] {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  border: .05em solid transparent;
  border-left: .125em solid currentcolor;
  border-right-style: none;
}

mo[data-content=")"] {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  border: .05em solid transparent;
  border-left-style: none;
  border-right: .125em solid currentcolor;
}

mo[data-content="["] {
  border: .08em solid currentcolor;
  border-right-style: none;
}

mo[data-content="]"] {
  border: .08em solid currentcolor;
  border-left-style: none;
}

mo[data-content="{"],
mo[data-content="}"] {
  position: relative;
  border: .08em solid currentcolor;
}

mo[data-content="{"] {
  border-radius: 100% 0 0 100% / .5em 0 0 .5em;
  border-left: .1em solid transparent;
  border-right-style: none;
}

mo[data-content="}"] {
  border-radius: 0 100% 100% 0 / 0 .5em .5em 0;
  border-left-style: none;
  border-right: .1em solid transparent;
}

mo[data-content="{"]::before,
mo[data-content="{"]::after,
mo[data-content="}"]::before,
mo[data-content="}"]::after {
  content: "";
  position: absolute;
  border: solid currentcolor;
}

mo[data-content="{"]::before {
  inset: .05em 50% 50% -.1em;
  border-bottom-right-radius: 100% .25em;
  border-width: 0 .125em .04em 0;
}

mo[data-content="{"]::after {
  inset: 50% 50% .05em -.1em;
  border-top-right-radius: 100% .25em;
  border-width: .04em .125em 0 0;
}

mo[data-content="}"]::before {
  inset: .05em -.1em 50% 50%;
  border-bottom-left-radius: 100% .25em;
  border-width: 0 0 .04em .125em;
}

mo[data-content="}"]::after {
  inset: 50% -.1em .05em 50%;
  border-top-left-radius: 100% .25em;
  border-width: .04em 0 0 .125em;
}

mo[data-content="|"]{
  width: .08em;
  text-indent: -9999px;
  background-color: currentcolor;
}

mrow,
mstyle {
  display: inline-flex;
}

mfrac {
  display: inline-flex;
  flex-direction: column;
}

mfrac>* {
  padding: 0 1px;
}

mfrac:not([linethickness="0"])>:first-child {
  box-shadow: 0 .04em currentcolor;
}

mfrac:not([linethickness="0"])>:last-child {
  box-shadow: 0 -.04em currentcolor;
}

msqrt::before,
mroot::before {
  content: "\221a";
}

merror {
  border: 1px solid red;
}

mpadded {}

mphantom {
  visibility: hidden;
}

msub {}

msup {}

msubsup {}

munder {}

mover {}

munderover {}

mmultiscripts {}

mmultiscripts>* {}

mmultiscripts>mprescripts~* {}

mtable {
  display: inline-table;
  --math-style: compact;
}

mtr {
  display: table-row;
}

mtd {
  display: table-cell;
  text-align: center;
  padding: 0.5ex 0.4em;
}
