* {
  box-sizing: border-box;
}

body {
  background: #181613;
  color: #bbb;
  margin: 0;
  font: 16px/1.5 "Fira Sans", "Source Han Sans", "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #3692e7;
}

aside>a {
  display: block;
  color: #bf811d;
  font-weight: bold;
}

main,
aside {
  background: #1d1a17;
  border-radius: 10px;
  padding: 20px;
}

nav {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
}

nav>a {
  color: #999;
  height: 32px;
  line-height: 32px;
  padding: 0 .7em;
  text-transform: uppercase;
  border-left: 2px solid transparent;
}

nav>a:active {
  background: #3c3934;
  color: #ccc;
  border-color: #3692e7;
}

a:hover,
a:active,
a:focus {
  color: #57aeff;
}

footer {
  text-align: center;
  margin: 20px 0;
}

body>.injected {
  display: none !important;
}
